fastapi
uvicorn
streamlit
requests
pandas
plotly
langchain
langchain-community
python-multipart
faiss-cpu
numpy
prometheus-client
groqubuntu@ip-172-31-28-17:~/ai-devops-copilot$ df -h
Filesystem       Size  Used Avail Use% Mounted on
/dev/root         19G   19G  156M 100% /
tmpfs            456M     0  456M   0% /dev/shm
tmpfs            183M  932K  182M   1% /run
tmpfs            5.0M     0  5.0M   0% /run/lock
efivarfs         128K  3.1K  120K   3% /sys/firmware/efi/efivars
/dev/nvme0n1p16  881M   94M  726M  12% /boot
/dev/nvme0n1p15  105M  6.2M   99M   6% /boot/efi
tmpfs             92M   12K   92M   1% /run/user/1000
ubuntu@ip-172-31-28-17:~/ai-devops-copilot$ cat requirements.txt
fastapi
uvicorn
streamlit
requests
pandas
plotly
langchain
langchain-community
python-multipart
faiss-cpu
numpy
prometheus-client
groq
ubuntu@ip-172-31-28-17:~/ai-devops-copilot$ 
